#container {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

#title {
  font-size: 35px;
  margin: 40px;
}

#description {
  font-size: 18px;
  margin: 40px;
}

form input {
  width: 30%;
  padding: 20px;
  margin: 5px;
}

button {
  width: 32.5%;
  margin: 5px;
  padding: 20px;
  font-size: 20px;
  border: 1px solid #222;
}

button:hover {
  background-color: #222;
  color: #fff;
  cursor: pointer;
}

#result-box {
  width: 100px;
  height: 100px;
  padding: 5px;
  margin: 70px auto;
  border: 1px solid black;
  align-items: center;
  position: relative;
}

#result-box span {
  position: relative;
  font-size: 40px;
  top: 20%;
}

