#container {
  width: 500px;
  margin: 10px auto;
}

fieldset {
  padding: 20px 0;
}

legend {
  margin-left: 20px;
  font-weight: 600;
}

label {
  position: relative;
  top: -1px;
}

label, button {
  margin: 0 3px 0 30px;
}

input {
  margin: 0 10px 0;
  width: 300px;
  padding: 2.5px 0;
}

button {
  padding: 5px;
  margin-top: 15px;
}

#result {
  margin-top: 50px;
}