#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 43px;
  margin-top: 80px;
  margin-bottom: 40px;
}

form {
  padding: 50px 0;
}

input {
  width: 500px;
  height: 45px;
  font-size: 23px;
  position: relative;
  padding-left: 10px;
}

#add {
  height: 50px;
  width: 80px;
  font-size: 23px;
  position: relative;
  right: 6px;
  line-height: 1;
}

.todo {
  list-style: none;
  padding: 0;
  width: 593.625px;
  position: relative;
  margin: 10px 0;
}

li {
  display: inline-block;
  width: 458px;
  border-bottom: 1px dashed gray;
  padding-bottom: 15px;
  font-size: 23px;
  text-align: center;
}

.complete, .remove {
  font-size: 17px;
  width: 53px;
  height: 35px;
}

.complete {
  margin-left: 10px;
}

.remove {
  margin-left: 5px;
}

.completed-todo {
  color: gray;
  text-decoration: line-through;
  opacity: 70%;
}