#container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

#add-text {
  position: relative;
  left: 745px;
  width: 200px;
  height: 30px;
}